$main-border: 1px solid;

// @font-face {
// 	font-family: 'Muli';
// 	src: local('Muli Regular'), local('Muli-Regular'),
// 		url('../fonts/Muli-Regular.woff2') format('woff2'),
// 		url('../fonts/Muli-Regular.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  // font-family: "Muli";
  background-color: beige;
  width: 100%;
  display: flex;
  justify-content: center;
  .container {
    width: 1300px;
    border: $main-border;
    justify-content: center;
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      border: $main-border;
      height: 100px;
      h1 {
        border: $main-border;
      }
    }
    .search-form {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .movie-info {
      border: $main-border;
      display: flex;
      justify-content: center;

      .details{
        border: $main-border;
        padding: 20px 0 20px 20px;

        ul{
          padding: 20px 0 20px 20px;
        }
        ul li {
          list-style-type: none;
        }
      }
    }
  }
}
